{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css"/>
{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="col-md-offset-5">Дії</div>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{{ path('laborant_new') }}">Додати аналіз</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="well" style="border-color: #EBF5FB; background-color:#F8F9F9;">
                    <div class="row">
                        <table class="table table-condensed table-hover doc_reg_info">
                            <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Ім'я файлу</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for analysRe in analysRes %}
                                <tr>
                                    <td>{% if analysRe.date %}{{ analysRe.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                                    <td>{{ analysRe.filename }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script>
        // $('.admin').DataTable();
        $('.doc_reg_info').DataTable({
            responsive: true
        });
    </script>
{% endblock %}
