{% for iteration in iterations %}
    {% if iteration[1].enemyPopulation %}
        <div class="panel panel-danger">
            <div class="panel-body text-center"><h4 style="color:red">Війна<span class="glyphicon glyphicon-fire" aria-hidden="true"></span></h4></div>
        </div>
        {% include "patient/population.html.twig" with {"population" : iteration[1].enemyPopulation} %}
            <h4 style="color:#b92c28"><small>Функція популяції: </small>{{ iteration[1].popSum | number_format(2)}}</h4>
            <h4 style="color:#b92c28"><small>Функція суперника: </small>{{ iteration[1].enemySum | number_format(2)}}</h4>
        <div class="panel panel-success">
            <div class="panel-body text-center"><h4 style="color:green">Результат війни<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span></h4></div>
        </div>
        {% include "patient/population.html.twig" with {"population" : iteration[1].result} %}
    {% endif %}
    <hr>
    <h3>Ітерація <span class="label label-primary"> {{ loop.index }} </span></h3>
    <div class="panel panel-default">
        <div class="panel-body text-center">Батьки</div>
    </div>
    {% include "patient/population.html.twig" with {"population" : iteration[1].parents} %}
    <div class="panel panel-default">
        <div class="panel-body text-center">Потомки</div>
    </div>
    {% include "patient/population.html.twig" with {"population" : iteration[0].children} %}
    {% if iteration[1].mutated %}
        <div class="panel panel-default">
            <div class="panel-body text-center">Мутація</div>
        </div>
        {% include "patient/population.html.twig" with {"population" : iteration[1].mutated, "mutated" : true} %}
    {% endif %}
    {% if iteration[1].selection %}
        <div class="panel panel-default">
            <div class="panel-body text-center">Селекція</div>
        </div>
        {% include "patient/population.html.twig" with {"population" : iteration[1].selection} %}
    {% endif %}
    {% if iteration[1].reanimation %}
        <div class="panel panel-default">
            <div class="panel-body text-center">Реанімація</div>
        </div>
        {% include "patient/population.html.twig" with {"population" : iteration[1].reanimation, "reanimation" : true} %}
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-body text-center">Нова популяція</div>
    </div>
    {% include "patient/population.html.twig" with {"population" : iteration[1].newPopulation} %}
{% endfor %}