{% for iteration in iterations %}
    <hr>
    <h3>Ітерація <span class="label label-primary"> {{ loop.index }} </span></h3>
    <div class="panel panel-default">
        <div class="panel-body text-center">Батьки</div>
    </div>
    {% include "patient/population.html.twig" with {"population" : iteration[1].parents} %}
    <div class="panel panel-default">
        <div class="panel-body text-center">Потомки</div>
    </div>
    {% include "patient/population.html.twig" with {"population" : iteration[0].children} %}
    {% if iteration[1].mutated %}
        <div class="panel panel-default">
            <div class="panel-body text-center">Мутація</div>
        </div>
        {% include "patient/population.html.twig" with {"population" : iteration[1].mutated, "mutated" : true} %}
    {% endif %}
    {% if iteration[1].selection %}
        <div class="panel panel-default">
            <div class="panel-body text-center">Селекція</div>
        </div>
        {% include "patient/population.html.twig" with {"population" : iteration[1].selection} %}
    {% endif %}
    {% if iteration[1].reanimation %}
        <div class="panel panel-default">
            <div class="panel-body text-center">Реанімація</div>
        </div>
        {% include "patient/population.html.twig" with {"population" : iteration[1].reanimation, "reanimation" : true} %}
    {% endif %}
{% endfor %}