{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-info" value="Створити" />
    {{ form_end(form) }}
    <div class="text-center">
        <ul class="list-group">
            <li>
                <a href="{{ path('reception_schedule_index') }}" class="btn btn-default">Назад до списку</a>
            </li>
        </ul>
    </div>
{% endblock %}
