<!DOCTYPE html>
<html>
    <head>
        <meta charset="KOI8-U" />
        <title>Medicine Guide</title>
<<<<<<< HEAD
        <link href="{{ asset('/bundles/framework/css/styles.css') }}" rel="stylesheet" />
=======
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('bundles/framework/css/styles.css') }}" rel="stylesheet" />
>>>>>>> e6cf9d16852ea458e7195dbf0748e213887f60b3
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>