<!DOCTYPE html>
<html>
    <head>
        <meta charset="KOI8-U" />
        <title>Medicine Guide</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('bundles/framework/css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>