<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Medicine Guide</title>
        <link href="{{ asset('/bundles/framework/css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>