{% block head %}
    <div class="page-header">
        <div class="logo-position">
            <img src="{{ asset('images/mg_small1.png') }}"/>
            <img src="{{ asset('images/title1.png') }}"/>
        </div>
        <div class="logout-button">
            <a href="{{ path('logout') }}" class="btn btn-default btn-bg">Вихід</a>
        </div>
    </div>
{% endblock %}