head{
    margin:0 auto;
    float:none;
}

body {
    margin: 0 auto;
    padding: 0;
}

#mainmenu
{
    margin:0 auto;
    float:none;
    width: 872px;
    height: 694px;
    z-index:23;
}

#login
{
    margin-top: -655px;
    margin-left: 200px;
    width: 86px;
    height: 27px;
    z-index:24;
}

#connect1
{
    margin-top: -20px;
    margin-left: 600px;
    width: 179px;
    height: 22px;
    z-index:24;
}

#aboutbk
{
    margin:0 auto;
    float:none;
    margin-top: -190px;
    width: 869px;
    height: 780px;
    z-index:26;
}

#about
{
    margin:0 auto;
    float: none;
    position: absolute;
    margin-left: 330px;
    margin-top: -628px;
    width: 206px;
    height: 25px;
    z-index:27;
}

#YourmadheartgoesCrus
{
    margin-top: -550px;
    margin-left: 440px;
    position: absolute;
    width: 331px;
    height: 273px;
    z-index:28;
}

#Whenyouareseventeeny
{
    margin-top: -550px;
    margin-left: 90px;
    position: absolute;
    width: 312px;
    height: 273px;
    z-index:29;
}

#teambk
{
    margin:0 auto;
    float:none;
    margin-top: -246px;
    width: 869px;
    height: 724px;
    z-index:6;
}

#e1
{
    margin:0 auto;
    float: none;
    margin-top: -500px;
    width: 206px;
    height: 224px;
    z-index:7;
}

#m2
{
    margin-top: -496px;
    margin-left: 65px;
    position: absolute;
    width: 208px;
    height: 223px;
    z-index:8;
}

#l3
{
    margin-top: -290px;
    margin-left: 635px;
    position: absolute;
    width: 210px;
    height: 223px;
    z-index:9;
}

#etwi
{
    margin:0 auto;
    float: none;
    margin-top: 7px;
    width: 20px;
    height: 15px;
    z-index:10;
}

#efb
{
    margin-top: -15px;
    margin-left: 412px;
    position: absolute;
    width: 18px;
    height: 18px;
    z-index:11;
}

#evk
{
    margin-top: -15px;
    margin-left: 466px;
    width: 18px;
    height: 18px;
    z-index:12;
}

#mtwi
{
    margin-top: -230px;
    margin-left: 162px;
    position: absolute;
    width: 20px;
    height: 16px;
    z-index:13;
}

#mfb
{
    margin-top: -230px;
    margin-left: 135px;
    position: absolute;
    width: 18px;
    height: 18px;
    z-index:14;
}

#mvk
{
    margin-top: -230px;
    margin-left: 189px;
    position: absolute;
    width: 18px;
    height: 18px;
    z-index:15;
}

#ltwi
{
    margin-top: -19px;
    margin-left: 729px;
    position: absolute;
    width: 21px;
    height: 16px;
    z-index:16;
}

#lfb
{
    margin-top: -19px;
    margin-left: 702px;
    position: absolute;
    width: 18px;
    height: 18px;
    z-index:17;
}

#lvk
{
    margin-top: -19px;
    margin-left: 757px;
    position: absolute;
    width: 18px;
    height: 18px;
    z-index:18;
}

#elya
{
    margin:0 auto;
    float: none;
    margin-top: 15px;
    width: 64px;
    height: 23px;
    z-index:19;
}

#mary
{
    margin-top: -259px;
    margin-left: 130px;
    position: absolute;
    width: 81px;
    height: 26px;
    z-index:20;
}

#lesya
{
    margin-top: -48px;
    margin-left: 700px;
    position: absolute;
    width: 78px;
    height: 23px;
    z-index:21;
}

#theteam
{
    margin-top: -560px;
    margin-left: 360px;
    position: absolute;
    width: 170px;
    height: 30px;
    z-index:22;
}


#footerbk
{
    margin:0 auto;
    float:none;
    margin-top: -275px;
    width: 869px;
    height: 575px;
    z-index:2;
}


#up
{
    margin:0 auto;
    float: none;
    margin-top: -350px;
    width: 106px;
    height: 24px;
    z-index:5;
}

.text-header
{
    margin-left: 42%;
}

.top-buffer
{
    margin-top:20px;
}

.field-color-blue
{
    background-color: #E6FEFF;
}

.field-color-green
{
    background-color: #DBFFD9;
}

.logout-button
{
    float: right;
    margin-right: 5%;
    margin-top: -60px;
}

.logo-position
{
    float: left;
    margin-left: 1%;
    margin-top: -35px;
}
