

#header{
    margin-top: 383px;
}

#footerbk
{
    left: -3px;
    top: 1916px;
    position: absolute;
    width: 1301px;
    height: 858px;
    z-index:2;
}

#Shape8
{
    left: 45px;
    top: 3191px;
    position: absolute;
    width: 1203px;
    height: 4px;
    z-index:3;
}

#copyright
{
    left: 493px;
    top: 2674px;
    position: absolute;
    width: 308px;
    height: 42px;
    z-index:4;
}

#up
{
    left: 582px;
    top: 2245px;
    position: absolute;
    width: 159px;
    height: 36px;
    z-index:5;
}

#aboutbk
{
    top: 397px;
    position: absolute;
    width: 1319px;
    height: 1165px;
    z-index:0;
}

#about
{
    left: 489px;
    top: 600px;
    position: absolute;
    width: 307px;
    height: 35px;
    z-index:7;
}

#YourmadheartgoesCrus
{
    left: 684px;
    top: 696px;
    position: absolute;
    width: 494px;
    height: 406px;
    z-index:8;
}

#Whenyouareseventeeny
{
    left: 168px;
    top: 696px;
    position: absolute;
    width: 465px;
    height: 406px;
    z-index:9;
}

#teambk
{
    left: 0px;
    top: 1191px;
    position: absolute;
    width: 1300px;
    height: 1080px;
    z-index:10;
}

#e1
{
    left: 495px;
    top: 1550px;
    position: absolute;
    width: 306px;
    height: 344px;
    z-index:11;
}

#m2
{
    left: 112px;
    top: 1540px;
    position: absolute;
    width: 310px;
    height: 331px;
    z-index:12;
}

#l3
{
    left: 873px;
    top: 1545px;
    position: absolute;
    width: 311px;
    height: 331px;
    z-index:13;
}

#etwi
{
    left: 635px;
    top: 1950px;
    position: absolute;
    width: 29px;
    height: 22px;
    z-index:14;
}

#efb
{
    left: 593px;
    top: 1950px;
    position: absolute;
    width: 26px;
    height: 26px;
    z-index:15;
}

#evk
{
    left: 678px;
    top: 1950px;
    position: absolute;
    width: 26px;
    height: 26px;
    z-index:16;
}

#mtwi
{
    left: 250px;
    top: 1959px;
    position: absolute;
    width: 29px;
    height: 22px;
    z-index:17;
}

#mfb
{
    left: 208px;
    top: 1959px;
    position: absolute;
    width: 26px;
    height: 26px;
    z-index:18;
}

#mvk
{
    left: 293px;
    top: 1959px;
    position: absolute;
    width: 26px;
    height: 26px;
    z-index:19;
}

#ltwi
{
    left: 1013px;
    top: 1959px;
    position: absolute;
    width: 29px;
    height: 22px;
    z-index:20;
}

#lfb
{
    left: 971px;
    top: 1959px;
    position: absolute;
    width: 26px;
    height: 26px;
    z-index:21;
}

#lvk
{
    left: 1056px;
    top: 1959px;
    position: absolute;
    width: 26px;
    height: 26px;
    z-index:22;
}

#elya
{
    left: 603px;
    top: 1900px;
    position: absolute;
    width: 95px;
    height: 35px;
    z-index:23;
}

#mary
{
    left: 208px;
    top: 1900px;
    position: absolute;
    width: 121px;
    height: 38px;
    z-index:24;
}

#lesya
{
    left: 970px;
    top: 1890px;
    position: absolute;
    width: 117px;
    height: 35px;
    z-index:25;
}

#theteam
{
    left: 519px;
    top: 1450px;
    position: absolute;
    width: 253px;
    height: 45px;
    z-index:26;
}

#mainmenu
{
    left: -1px;
    top: 0px;
    position: absolute;
    width: 1300px;
    height: 384px;
    z-index:27;
}

#head
{
    left: -1px;
    top: 357px;
    position: absolute;
    width: 1300px;
    height: 694px;
    z-index:28;
}

#login
{
    left: 253px;
    top: 63px;
    position: absolute;
    width: 127px;
    height: 39px;
    z-index:29;
}

#connect
{
    left: 848px;
    top: 72px;
    position: absolute;
    width: 266px;
    height: 32px;
    z-index:30;
}

.top-buffer
{
    margin-top:20px;
}

.field-color-blue
{
    background-color: #E6FEFF;
}

.field-color-green
{
    background-color: #DBFFD9;
}

