 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1300px;
	 height: 3274px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Layer0 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1300px;
	 height: 4000px;
	 z-index:1;
} 

 #Layer6 
{ 
	 left: -3px; 
	 top: 2416px; 
	 position: absolute; 
	 width: 1301px;
	 height: 858px;
	 z-index:2;
} 

 #Layer5 
{ 
	 left: 493px; 
	 top: 3204px; 
	 position: absolute; 
	 width: 308px;
	 height: 42px;
	 z-index:3;
} 

 #Shape8 
{ 
	 left: 45px; 
	 top: 3191px; 
	 position: absolute; 
	 width: 1203px;
	 height: 4px;
	 z-index:4;
} 

 #MEDICALGUIDEC2016 
{ 
	 left: 507px; 
	 top: 3214px; 
	 position: absolute; 
	 width: 281px;
	 height: 22px;
	 z-index:5;
} 

 #layer_6 
{ 
	 left: 582px; 
	 top: 2745px; 
	 position: absolute; 
	 width: 159px;
	 height: 36px;
	 z-index:6;
} 

 #Layer1 
{ 
	 left: 6px; 
	 top: 876px; 
	 position: absolute; 
	 width: 1319px;
	 height: 1165px;
	 z-index:7;
} 

 #layer_8 
{ 
	 left: 489px; 
	 top: 1098px; 
	 position: absolute; 
	 width: 307px;
	 height: 35px;
	 z-index:8;
} 

 #YourmadheartgoesCrus 
{ 
	 left: 684px; 
	 top: 1196px; 
	 position: absolute; 
	 width: 494px;
	 height: 406px;
	 z-index:9;
} 

 #Whenyouareseventeeny 
{ 
	 left: 168px; 
	 top: 1196px; 
	 position: absolute; 
	 width: 465px;
	 height: 406px;
	 z-index:10;
} 

 #Layer3 
{ 
	 left: 0px; 
	 top: 1691px; 
	 position: absolute; 
	 width: 1300px;
	 height: 1080px;
	 z-index:11;
} 

 #e2 
{ 
	 left: 495px; 
	 top: 2038px; 
	 position: absolute; 
	 width: 306px;
	 height: 306px;
	 z-index:12;
} 

 #e1 
{ 
	 left: 574px; 
	 top: 2000px; 
	 position: absolute; 
	 width: 170px;
	 height: 343px;
	 z-index:13;
} 

 #m1 
{ 
	 left: 112px; 
	 top: 2036px; 
	 position: absolute; 
	 width: 310px;
	 height: 307px;
	 z-index:14;
} 

 #m2 
{ 
	 left: 194px; 
	 top: 2012px; 
	 position: absolute; 
	 width: 172px;
	 height: 331px;
	 z-index:15;
} 

 #l4 
{ 
	 left: 873px; 
	 top: 2041px; 
	 position: absolute; 
	 width: 311px;
	 height: 301px;
	 z-index:16;
} 

 #l3 
{ 
	 left: 922px; 
	 top: 2011px; 
	 position: absolute; 
	 width: 231px;
	 height: 331px;
	 z-index:17;
} 

 #twi 
{ 
	 left: 635px; 
	 top: 2410px; 
	 position: absolute; 
	 width: 29px;
	 height: 22px;
	 z-index:18;
} 

 #fb 
{ 
	 left: 593px; 
	 top: 2410px; 
	 position: absolute; 
	 width: 26px;
	 height: 26px;
	 z-index:19;
} 

 #vk 
{ 
	 left: 678px; 
	 top: 2410px; 
	 position: absolute; 
	 width: 26px;
	 height: 26px;
	 z-index:20;
} 

 #twicopy 
{ 
	 left: 250px; 
	 top: 2409px; 
	 position: absolute; 
	 width: 29px;
	 height: 22px;
	 z-index:21;
} 

 #fbcopy 
{ 
	 left: 208px; 
	 top: 2409px; 
	 position: absolute; 
	 width: 26px;
	 height: 26px;
	 z-index:22;
} 

 #vkcopy 
{ 
	 left: 293px; 
	 top: 2409px; 
	 position: absolute; 
	 width: 26px;
	 height: 26px;
	 z-index:23;
} 

 #twicopy2 
{ 
	 left: 1013px; 
	 top: 2409px; 
	 position: absolute; 
	 width: 29px;
	 height: 22px;
	 z-index:24;
} 

 #fbcopy2 
{ 
	 left: 971px; 
	 top: 2409px; 
	 position: absolute; 
	 width: 26px;
	 height: 26px;
	 z-index:25;
} 

 #vkcopy2 
{ 
	 left: 1056px; 
	 top: 2409px; 
	 position: absolute; 
	 width: 26px;
	 height: 26px;
	 z-index:26;
} 

 #layer_27 
{ 
	 left: 603px; 
	 top: 2362px; 
	 position: absolute; 
	 width: 95px;
	 height: 35px;
	 z-index:27;
} 

 #layer_28 
{ 
	 left: 208px; 
	 top: 2362px; 
	 position: absolute; 
	 width: 121px;
	 height: 38px;
	 z-index:28;
} 

 #layer_29 
{ 
	 left: 970px; 
	 top: 2362px; 
	 position: absolute; 
	 width: 117px;
	 height: 35px;
	 z-index:29;
} 

 #layer_30 
{ 
	 left: 519px; 
	 top: 1922px; 
	 position: absolute; 
	 width: 253px;
	 height: 45px;
	 z-index:30;
} 

 #Layer0copy 
{ 
	 left: 0px; 
	 top: -199px; 
	 position: absolute; 
	 width: 1300px;
	 height: 1252px;
	 z-index:31;
} 

 #Shape3 
{ 
	 left: 153px; 
	 top: 77px; 
	 position: absolute; 
	 width: 379px;
	 height: 4px;
	 z-index:32;
} 

 #Shape3copy 
{ 
	 left: 761px; 
	 top: 78px; 
	 position: absolute; 
	 width: 379px;
	 height: 4px;
	 z-index:33;
} 

 #layer_34 
{ 
	 left: 283px; 
	 top: 39px; 
	 position: absolute; 
	 width: 127px;
	 height: 39px;
	 z-index:55;
} 

 #layer_35 
{ 
	 left: 831px; 
	 top: 55px; 
	 position: absolute; 
	 width: 241px;
	 height: 18px;
	 z-index:35;
} 

 #MG 
{ 
	 left: 592px; 
	 top: 24px; 
	 position: absolute; 
	 width: 111px;
	 height: 111px;
	 z-index:36;
} 

 #Benedignosciturbenec 
{ 
	 left: 534px; 
	 top: 176px; 
	 position: absolute; 
	 width: 230px;
	 height: 31px;
	 z-index:37;
} 

 #Shape2 
{ 
	 left: 585px; 
	 top: 238px; 
	 position: absolute; 
	 width: 125px;
	 height: 4px;
	 z-index:38;
} 

 #MEDICALGUIDE 
{ 
	 left: 424px; 
	 top: 285px; 
	 position: absolute; 
	 width: 429px;
	 height: 37px;
	 z-index:39;
} 
