{% block head %}
    <div class="logo-position">
        <img src="{{ asset('images/title1.png') }}"/>
    </div>
    <div class="page-header">
        <h2 class="text-center">Кабінет лікаря</h2>
        <div class="logout-button">
            <a href="{{ path('logout') }}" class="btn btn-default btn-lg">Вихід</a>
        </div>
    </div>
{% endblock %}