<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>psdtowebmedguide11.psd</title>
		<link href="Default/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="background">
				<div id="Background"><img src="Default/images/Background.png"></div>
				<div id="Layer1"><img src="Default/images/Layer1.png"></div>
				<div id="ABOUTPROJECT"><img src="Default/images/ABOUTPROJECT.png"></div>
				<div id="YourmadheartgoesCrus"><img src="Default/images/YourmadheartgoesCrus.png"></div>
				<div id="Whenyouareseventeeny"><img src="Default/images/Whenyouareseventeeny.png"></div>
				<div id="Layer3"><img src="Default/images/Layer3.png"></div>
				<div id="e2"><img src="Default/images/e2.png"></div>
				<div id="e1"><img src="Default/images/e1.png"></div>
				<div id="m1"><img src="Default/images/m1.png"></div>
				<div id="m2"><img src="Default/images/m2.png"></div>
				<div id="Shape4"><img src="Default/images/Shape4.png"></div>
				<div id="Shape5"><img src="Default/images/Shape5.png"></div>
				<div id="Shape6"><img src="Default/images/Shape6.png"></div>
				<div id="Shape7"><img src="Default/images/Shape7.png"></div>
				<div id="l2"><img src="Default/images/l2.png"></div>
				<div id="l1"><img src="Default/images/l1.png"></div>
				<div id="twi"><img src="Default/images/twi.png"></div>
				<div id="fb"><img src="Default/images/fb.png"></div>
				<div id="vk"><img src="Default/images/vk.png"></div>
				<div id="Eleonorakorobova"><img src="Default/images/Eleonorakorobova.png"></div>
				<div id="THETEAM"><img src="Default/images/THETEAM.png"></div>
				<div id="Layer0copy"><img src="Default/images/Layer0copy.png"></div>
				<div id="Shape3"><img src="Default/images/Shape3.png"></div>
				<div id="Shape3copy"><img src="Default/images/Shape3copy.png"></div>
				<div id="login"><img src="Default/images/login.png"></div>
				<div id="Contactus"><img src="Default/images/Contactus.png"></div>
				<div id="MG"><img src="Default/images/MG.png"></div>
			<div id="Benedignosciturbenec"><img src="Default/images/Benedignosciturbenec.png"></div>
			<div id="Shape2"><img src="Default/images/Shape2.png"></div>
			<div id="MEDICALGUIDE"><img src="Default/images/MEDICALGUIDE.png"></div>
		</div>
 </body>
 </html>