{% extends 'base.html.twig' %}

{% block body %}
<<<<<<< HEAD

    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}

=======
    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
>>>>>>> bd272d0003e5310d4909a26dd413d6c0e9b69b11
    <h1>MedicalStaff creation</h1>

    <div class="container">
        <div class="col-md-4">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <input type="submit" value="Create"/>
            {{ form_end(form) }}
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
